<%- include("head_part.ejs")%>
<h1><%=title %></h1>
<form action="/quiz" method="post">
  <ol>
    <% questions.forEach(function(question) { %>
    <li>
      <strong><%= question.question %></strong><br />
      <% answers.forEach(function(answer){ %> <% if(answer.question_id ==
      question.question_id) { %>
      <input
        type="radio"
        id="<%= answer.answer_id %>"
        name="<%= question.question_id %>"
        value="<%= answer.answer_id %>"
        required
      /><label for="<%= answer.answer_id %>"> <%= answer.answer %></label><br />
      <% } %> <% }); %>
    </li>
    <% }); %>
  </ol>
  <input type="submit" class="btn" value="Submit Quiz" />
</form>
<%- include("foot_part.ejs")%>
